* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}

body {
    background-color: #cae7ea;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
    grid-column: 4/4;
    grid-row: 1/4;

}

.banner {
    background-color: #00aec3;
    height: 150px;
    position: fixed;
    width: 100%;
    right: 0;
}


main{
    
    height: auto;
    width: 100%;
    display: grid;
    grid-column: 1/4;
    grid-row: 4/4;
}


.main_container {
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-column: 2/4;
    grid-row: 1/4;
}


nav{
    height: 100%;
    position: fixed;
    margin-left: 0;
    width: auto;
    margin-top: 0;
}



.display_NewsGral {
    
    border: 1px solid black;
    margin: 5% 5%;
    padding: 2%;

    width: auto; /* 70% del ancho disponible */
    margin-left: 200px; /* ancho del sidebar */
}

.display_categories {
    text-align: center;
    
}



figure {
    display: block;
}

footer {
    height: auto;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #00aec3;
    width: 100%;
    right: 0;
    /* left: 0; */
    font-size: 16px;
}

i {
    padding-right: 16px;
}

.derechos {
    display: inline;
}

/* servicios */


/* avisos */

/* contenedores gral */

.contenedor_ventanas {
    /* border: 2.5px solid green; */
    width: 75%;
    border: 1px solid black;
    float: right;
    margin: 5% 5%
}

.ventana {
    /* border: 2.5px solid red; */
    width: 50%;
    margin: 5% 25%;
    border: 1px solid black;
}


/* organigrama */

.contenedor_organigrama {
    text-align: center;
}


/* formulario */

.form_contacto {
    width: 30%;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    
    .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    }
    
    .bi {
    vertical-align: -.125em;
    fill: currentColor;
    }
    
    
    .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
    }
    .bd-mode-toggle {
    z-index: 1500;
    }