header {
    text-align: center;
    background-color: $primary-color;
    height: 150px;
    width: 100%;
    padding-top: 30px;
    top: 0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    display: flex;
  
    h1 {
      font-weight: map-get($font-weights, "big");
    }
  
    img {
      height: 120%;
      padding: 10px 0 50px 20px;
  
    }
  }