/* Variables */
$primary-color: #00b0c377;
$secondary-color: #9fc6c9;
$background-color: #cae7ea;
$font-family: 'Encode Sans', sans-serif;
$font-weights: (
  "min": 400,
  "med": 600,
  "big": 800
);

